# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.text.html.basic':
    'Box':
      'prefix': 'box'
      'body': """
      <div class="box">
        <div class="box__content">
          <h3> Lorem </h3>
        </div>
      </div>
      """

    'Tab':
      'prefix': 'tab'
      'body': """
      <div class="tabs">
        <a href="" class="tab__item tab__item--current">My Tab 1</a>
        <a href="" class="tab__item">My Tab 2</a>
        <a href="" class="tab__item">My Tab 3 </a>
      </div>
      <section class="tab__content">
        <div class="tab__info tab__info--active"> Lorem ipsum for tab 1 </div>
        <div class="tab__info"> Lorem ipsum for tab 2 </div>
        <div class="tab__info"> Lorem ipsum for tab 3 </div>
      </section>
      """

'.source.css':
    'Box':
      'prefix': 'box'
      'body': """
      .box{width: 100%; height: 300px; background: #333; display: flex; align-items: center; justify-content: center;}
      .box__content{color:#fff; text-align:center}
      """
    'Border':
      'prefix': 'br'
      'body': 'border: 1px solid red;'

    'Tab':
      'prefix': 'tab'
      'body': """
        .tab__item{display:inline-block; padding:10px; background:#ccc; }
        .tab__info{border:1px solid #ddd; height:100px;}
        .tab__info{display:none}
        .tab__info--active{display:block}
        .tab__item--current{background-color:yellow}
      """


'.source.js':
  'console.log':
    'prefix': 'log'
    'body': 'console.log(${1:"crash"});$2'

  'Toggle':
    'prefix': 'toggle'
    'body': """
    /* Open Panel */
    $( ".trigger" ).on('click', function() {
      $(".target").toggleClass("open");
    });
    """
  'Tab':
    'prefix': 'tab'
    'body': """
    var btn = $('.tab__item'),
        info = $('.tab__info');
    btn.click(function(e) {
        e.preventDefault();
        var index = $(this).index();
        info.hide();
        info.eq(index).show();
        $('.tab__item').removeClass('tab__item--current');
        $(this).addClass('tab__item--current');
    });
    """

  'Scroll Down':
    'prefix': 'scroll'
    'body': """
    /* Scroll Down */
    $('.scroll-down').click(function(event){
      event.preventDefault();
      //scroll down the panel
      $("html, body").animate({ scrollTop: $('#anchor').offset().top }, 700);
    });
    """





'.text.html.php':
    'Php':
      'prefix': 'p'
      'body': """
      <?php
        $1
      ?>
      """

    'Loop':
      'prefix': 'loop'
      'body': """
      <?php /* Custom Loop */

      $custom_loop = new WP_Query( array(
        'post_type'			=> 'page',
        'posts_per_page'=> 3,
        'orderby' => 'menu_order',
        'order' => 'ASC',
        ${1:// 'tax_query' => array(
        // 		array( 'taxonomy' => 'people',
        // 			'field'    => 'slug',
        // 			'terms'    => 'bob',
        // 		)
        //  )}
      )); ?>

      <?php if ($custom_loop->have_posts()) : while($custom_loop->have_posts()) : $custom_loop->the_post(); ?>

        <?php the_post_thumbnail('thumbnail', array('class' => '','alt' => get_the_title())); ?>
        <h3><?php the_title(); ?></h3>
        <?php the_content(); ?>

        <?php wp_reset_postdata(); ?>
      <?php endwhile; endif; ?>
      """

    'Img':
      'prefix': 'imgbg'
      'body': """
      <?php /* Image Url */
      	$image_attributes =  wp_get_attachment_image_src( get_post_thumbnail_id( $post->ID ), 'large' );
      ?>
      <div class="$1" style="background: url(<?php echo $image_attributes[0]; ?>) center center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">
        $2
      </div>
      """

    'Box':
      'prefix': 'box'
      'body': """
      <div class="box">
        <div class="box__content">
          <h3> Lorem </h3>
        </div>
      </div>
      """

    'Tab':
      'prefix': 'tab'
      'body': """
      <div class="tabs">
        <a href="" class="tab__item tab__item--current">My Tab 1</a>
        <a href="" class="tab__item">My Tab 2</a>
        <a href="" class="tab__item">My Tab 3 </a>
      </div>
      <section class="tab__content">
        <div class="tab__info tab__info--active"> Lorem ipsum for tab 1 </div>
        <div class="tab__info"> Lorem ipsum for tab 2 </div>
        <div class="tab__info"> Lorem ipsum for tab 3 </div>
      </section>
      """
